@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    font-size: 25px;
}

b{
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: #FF5757;
}

body {
    background: black;
}

h1 {
    margin: 50px 0px;
    font-size: 35px;
    color: #bd4040;
    text-decoration: underline;
}

header {
    width: 100%;
    margin: 0 auto;
    max-width: 1900px;
    height: 100vh;
    background: url(../img/bg.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    max-height: 1000px;
    z-index: 10001;
}


/* SCROLL  */

.scroll {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
}

.scroll:hover {
    opacity: 0.8;
}

.scroll img {
    width: 50px;
    height: auto;
}

/* TOP */

.top {
    position: absolute;
    left: 90%;
    bottom: 25px;
    transform: translateX(-50%);
}

.top img:hover {
    opacity: 0.8;
}

.top img {
    width: 50px;
    height: auto;
}

/* 1ere PAGE */

.container-header {
    width: 65%;
    margin: 0 auto;
    min-height: 100vh;
    max-height: max-content;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-self: flex-start;
}

.logo img{
    width: 180px;
    height: auto;
    border-radius: 50%;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar li{
    margin: 20px;
}

.navbar li>a{
    text-decoration: none;
    
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
    text-shadow: 2px 2px 5px #3b16164f;
}

.navbar li>:hover{
    color: #FF5757;
    transition: 0.3s;
}

.en-tete {
    text-align: center;
    margin-top: 15%;
}

.en-tete h1{
    font-size: 55px;
    margin: 0px;
    text-shadow: 2px 2px 5px #3b16164f;
    text-decoration: none;
    color: white;
}

.en-tete h2{
    font-size: 30px;
    color: #bd4040;
    text-shadow: 2px 2px 5px #662525b6;
}

.en-tete h3{
    color: black;
}


/* PORTRAIT */

.container-portrait {
    width: 65%;
    margin: 0 auto;
    max-width: 1300px;
    min-height: 100vh;
    max-height: max-content;
    position: relative;
    max-height: 1000px;
}

.grille-portrait {
    height: max-content;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.text-portrait {
    padding-right: 35px;
    
}

.text-portrait h1 {
    margin: 50px 0px;
    font-size: 35px;
    text-decoration: underline;
}

.img-portrait img{
    float: right;
    width: 80%;
    height: auto;
}


/* SKILLS */


.container-skills {
    width: 65%;
    margin: 0 auto;
    max-width: 1300px;
    min-height: 100vh;
    max-height: max-content;
    position: relative;
    max-height: 1000px;
}

.grille-skills {
    height: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.list-skills h1 {
    margin: 50px 0px;
    font-size: 35px;
    text-decoration: underline;
}

.text-skills {
    padding: 75px 0px 0px 35px;
}


.language-skills {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.language-skills a{
    font-size: 35px;
    color: #FF5757;
}

.outils-skills {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.outils-skills a{
    font-size: 35px;
    color: #FF5757;
}


/* EXPERIENCE */

.container-experiences {
    width: 65%;
    margin: auto auto;
    max-width: 1300px;
    min-height: 100vh;
    max-height: max-content;
    position: relative;
}

.grille-experiences {
    height: 80%;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.experiences-grid{
    height: 100%;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 30% 65%;
    grid-template-rows: repeat(3, 25px);
    row-gap: 4px;
    grid-template-areas: 
    "h2 text"
    "h3 text"
    "h4 text";
}

.experiences-grid>p{
    grid-area: text;
}

.experiences-grid>h2,h3,h4{
    text-align: center;
}
.experiences-grid>h2{
    grid-area: h2;
    text-decoration: underline;
    color: #FF5757;
}
.experiences-grid>h3{
    grid-area: h3;
    color: rgb(107, 107, 107);
}
.experiences-grid>h4{
    grid-area: h4;
    color:rgb(107, 107, 107);
}


/* CONTACT */

.container-contact {
    width: 65%;
    margin: 0 auto;
    max-width: 1300px;
    min-height: 100vh;
    max-height: max-content;
    position: relative;
    max-height: 1000px;
    display: flex;
    align-items: center;
}

.contact-element {
    margin: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-element>a{
    padding: 10px 50px;
    text-decoration: none;
}

.contact-element>a:hover{
    opacity: 0.8;
}

.contact-icon-img img{
    width: 90px;
    height: auto;
}

.contact-icon-img img:hover{
    opacity: 0.8;
}

.grille-contact {
    height: max-content;
}


footer>p {
    color: rgb(68, 68, 68);
    text-align: center;
    font-weight: bold;
    padding: 10px;
}




/* BUTTON TOP */

.button-top {
    bottom: 50px;
    right: 50px;
    background-color:transparent;
    width: max-content;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10000;
    float: right;
}

.button-top img{
    padding: 15px;
    border-radius: 5px;
    width: 32px;
    height: auto;
    background:#FF5757;
}

.button-top:hover {
    opacity: 0.8;
}

/* NAVBAR BURGER */

.button-burger {
    display: none;
    cursor: pointer;
}

.button-burger i{
    font-size: 40px;
    transition: 0.5s;
}

.button-burger>i:hover {
    color: #FF5757;
    transition: 0.5s;
}


.close>i {
    font-size: 50px;
}

#check{
    display: none;
}

@media screen and (max-width: 1300px)
{
    .button-burger{
        display: block;
    }
    .navbar {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #471b1b;
        top: 0px;
        left: -1000%;
        text-align: center;
        transition: all .5s;
        z-index: 10100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #check:checked ~ .navbar{
        left: 0px;
    }
}

/* RESPONSIVE */

@media screen and (max-width: 1300px)
{
    .en-tete {
        margin-top: 25%;
    }
    .en-tete h1{
        font-size: 45px;
    }
    .en-tete h2{
        font-size: 35px;
    }
}

@media screen and (max-width: 1100px)
{
    .experiences-grid {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
    .grille-experiences>h1{
        text-align: center;
    }
}

@media screen and (max-width: 1000px)
{
    .scroll {
        display: none;
    }
    .grille-portrait {
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .img-portrait {
        display: none;
    }
    .text-portrait {
        padding: 0px;
    }
}

@media screen and (max-width: 800px)
{
    .grille-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .language-skills {
        display: grid;
        grid-template-columns: 1fr;
    }
    .outils-skills {
        display: grid;
        grid-template-columns: 1fr;
    }
    .grille-contact>h1{
        text-align: center;
    }
}

@media screen and (max-width: 700px)
{
    .container-contact {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .contact-element {
        display: block;
    }
    .contact-element>a{
        display: none;
    }
}